<h5>Author is<%= @author_info.first_name%> <%=@author_info.last_name%>, <%= @author_info.age%> ans</h5>
</br>
<p>email:<%= @author_info.email%></p></br>
<p> <U>Description:</U> </p>
<p><%= @author_info.description%></p>
</br>
